<header id="header">
    <div class="header__nav">
        <nav id="nav">
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link">Product</a>
            <a href="#" class="nav-link">Pricing</a>
            <a href="#" class="nav-link">About</a>
            <a href="#" class="nav-link">Contact</a>
        </nav>
        <div class="logo">
            <img src="img/logo.png" alt="Logo Figma">
        </div>
        <div class="socials">
            <a href="#" class="social"><img class="twitter" src="img/twitter.png" alt="twitter"></a>
            <a href="#" class="social"><img class="facebook" src="img/facebook.png" alt="facebook"></a>
            <a href="#" class="social"><img class="linkedin" src="img/linkedin.png" alt="linkedin"></a>
        </div>
    </div>
    <div class="header__content">
        <h1 id="header__title">The best products start with Figma</h1>
        <p id="header__subtitle">
            Most calendars are designed for teams. Slate is designed for freelancers
        </p>
        <a class="btn-try" href="#">Try For Free</a>
    </div>
</header>