@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
}
h1{
    font-size: 74px;
    color: white;
    text-align: center;
}
h2{
    font-size: 48px;
    font-weight: 400;
}
#header{
    background: url(img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.section-header{
    text-align: center;
    max-width: 450px;
    margin: 0 auto 50px;
}
.section-header.pricing{
    color: white;
}
.header-nav{
    max-width: 1440px;
    display: grid;
    align-items: center;
    padding: 60px 20px;
}
@media (min-width: 768px) {
    .header-nav{
        display: grid;
        grid-template-columns: 1fr 200px 1fr;
        gap: 30px;
    }
}
.header-nav a{
    color: white;
    text-decoration: none;
    padding-left: 30px;
}
.logo{
    justify-self: center;
    text-align: center;
}
#nav, .socials{
    justify-self: center;
}
@media (min-width: 768px) {
    #nav, .socials{
        justify-self: end;
    }
}
.header-content{
    max-width: 700px;
    width: 100%;
    height: auto;
    margin: 100px auto 0;
    padding-bottom: 200px;
}
#subtitle{
    font-size: 28px;
    text-align: center;
    margin-bottom: 60px;
}
.btn-try{
    display: block;
    max-width: 240px;
    background-color: #2091F9;
    font-size: 20px;
    padding: 16px 0;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 35px;
}
#features{
    max-width: 870px;
    margin: 100px auto 50px;
    text-align: center;
}
#features p{
    max-width: 500px;
    margin: 0 auto;
}
.features-col{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.features-item{
    max-width: 220px;
}
.features-item h3{
    font-style: 20px;
}
.fuatures-video{
    position: relative;
}
.play-button{
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    left: 40%;
}
.way-grid{
    margin-top: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.btn-try.other{
    display: inline-block;
    padding: 16px 62px;
    margin-top: 50px;
}
.way-grid img{
    max-width: 625px;
    width: 100%;
    height: auto;
}
.way-text{
    max-width: 450px;
}
.subscribe-grid{
    margin-top: 170px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
}
.subscribe-grid img{
    max-width: 670px;
    width: 100%;
    height: auto;
}
.subscribe-text{
    max-width: 350px;
}
.subscribe-text p{
    font-weight: bold;
}
.form-title{
    font-weight: bold;
    margin: 0;
}
p.form-subtitle{
    margin: 0 0 30px;
    font-weight: 300;
}
#subscribe-email{
    background-color: #f4f4f4;
    padding: 19px 0 19px 15px;
    border: transparent;
    border-radius: 35px;
}
button{    
    background-color: #2091F9;
    font-size: 20px;
    padding: 14px 25px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 35px;
    border: none;
}
#partners{
    margin: 100px 0;
}
.partner-grid{
    text-align: center;
}
.partner-grid p{
    max-width: 400px;
    margin: 0 auto 50px;
}
.partners-group{
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.partner-item{
    border: 1px solid #D8D8D8;
    text-align: center;
    padding: 10px 30px;
}
.btn-try.partner{
    margin-top: 50px;
}
#testimonials{
    margin: 100px 0;
}
.testimonial{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.person{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.person img{
    width: 50px;
    height: 50px;
}
.person-info{
    text-align: left;
}
.person-info h3{
    font-style: 16px;
    font-weight: 400;
    margin: 0;
}
.person-info p{
    font-style: 15px;
    margin: 0;
}
.cards-grid{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-item{
    background-color: white;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    max-width: 335px;
    padding: 40px;
    text-align: center;
}
.card-item.standart{
    padding: 60px 40px;
    background-color: #2091F9;
    color: white;
}
.btn-try.standart{
    background-color: white;
    color: #2091F9;
}
#pricing{
    margin-top: 100px;
    padding: 50px 0 100px;
    background-color: #252B42;
}
.cards-grid li{
    list-style: none;
    margin-left: -20px;
    padding: 10px 0;
    font-size: 15px;
}
.cards-grid h5{
    max-width: 160px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
}
.cost p{
    font-size: 74px;
    font-weight: 900;
    margin: 0 0 20px;
}
.cost p span{
    font-size: 16px;
    font-weight: 400;
}
.cost p sup{
    font-size: 16px;
    font-weight: 900; 
}
#contact{
    margin: 100px 0;
}
.contact-details{
    text-align: center;
}
.contact-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.contact-form{
    border-radius: 35px;
    border: 1px solid #dddd;
    max-width: 320px;
    padding: 30px;
}
.contact-form input{
    padding: 19px 130px 19px 20px;
    margin-bottom: 25px;
    border-radius: 40px;
    background-color: #F5F5F5;
    border: none;
}
.contact-form textarea{
    background-color: #F5F5F5;
    border: none;
    max-width: 300px;
    height: 200px;
    padding: 19px 0 19px 20px;
    margin-bottom: 45px;
}
.contact-form ::placeholder{
    color: black;
}
.socials.contact{
    margin-top: 30px;
}
.details-grid{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.details-item{
    max-width: 280px;
    text-align: center;
}
iframe{
    max-width: 100%;
}
#footer{
    background-color: #252B42;
    padding: 150px 0;
}
#footer a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 0;
}
.footer-grid{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer-pages, .footer-tomothy, .footer-black{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-map, .footer-phone{
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    gap: 10px;
}
.socials{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}
